.explore-tabs-wrap {
    background-color: #161b22;
}
.explore-section {
      padding-top: 10rem !important;
}
.explore-tabs {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #24292f;
    height: 80px;
    padding-left: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
    img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    h3 {
        margin: 0;
        font-size: 1.1rem;
        color: var(--white-color);
    }
    &.active {
        background-color: var(--primary-color);

        color: var(--white-color);
        img {
            scale: 1.15;
        }
    }
}
.explore-content {
    font-weight: 400;
    color: var(--primary-pera);
    p {
        font-weight: 400;
        color: var(--primary-pera);
    }
    span { 
        position: relative;
    }
}
.swiper-quests-img {
    width: 100%;
}
.title-quests {
    font-size: 1rem;
    text-align: center;
    opacity: 0.6;
}
.form__button {
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
}
.submit-premium {
    padding: 1rem;
    color: #000;
    background-color: #ffffffd3;
    border-radius: 10px;
    font-size: 1rem;
}
.form-quest {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}
.form__input {
    &::placeholder {
      font-size: 1rem;
    }
}
.form-control {
    padding: 1rem;
}
.features__title {
    p {
        font-size: 1.2rem;
        span {
            color: #fff;
            font-size: 1.5rem;
        }
    }
}
.quest-img {
    filter: grayscale(1);
}
.button-unlock {
    background-color: #7b2cbf;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff4e;
}
.coins-item-unlock {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.unlock-btn {
    font-size: 0.7rem;
    background: #fff !important;
    color: var(--third-color);
    font-weight: 700;
    background: transparent !important;
    border: 1px solid #fff !important;
}
.enter-btn {
    border: 1px solid #fff !important;
    background: transparent !important;
    color: #000;
    color: var(--primary-color);
}
.coins-counter {
    border-radius: 8px;
    span {
        color: var(--primary-color);
    }
}
.zoom-nav {
    border: none;
    font-size: 2rem;
    background-color: transparent !important;
}

.zoom-nav-icon {
    color: #000 !important;
    fill: var(--primary-color) !important;
}
.quests-warning {
  background-color: #ffffff1a;
  border-radius: 8px;
  padding: 10px;
  color: #e0d100;
  margin-top: 10px;
  margin-bottom: 10px;
}
@keyframes bounce {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-2px); }
  100% { transform: translateY(0); }
}